html {
    background-color: black;
}

p {
    color: green;
    font-weight: bold;
    font-family: 'Roboto Mono', serif;
    font-size: 1em;
}

.path {
    margin-right: 5px;
}

input {
    background-color: black;
    color: green;
    font-weight: bold;
    font-family: 'Roboto Mono', serif;
    font-size: 1em;
    outline:none;
    border: none;
    flex-grow: 1;
}

.type {
    display: flex;
}

button {
    background-color: black;
    color: green;
    font-weight: bold;
    font-family: 'Roboto Mono', serif;
    font-size: 1em;
}

.success {
    color: white;
}

.error {
    color: red;
}

hr {
    border: 1px dashed green;
}